#aboutMe,
#profile,
#projectGrid 
{
    background: var(--cardBackground);
    padding: 2%;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.5);
}

.aboutMeImage
 {
    border-radius: 4%; 
    object-fit: cover;
    margin-bottom: 3%;
}

.aboutMeTex
t {
    font-size: large;
    text-align: justify;
}

.skills-section h1
 {
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--primaryColor);
}

.skills-section .skill-category
 {
    margin-bottom: 30px;
}

.skills-section .skill-category h4 
{
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--primaryColor);
}

.skills-section .fas 
{
    margin-right: 10px;
    width: 30px;
    align-self: center;
    color: var(--primaryColor);
}

.skills-section .info 
{
    font-weight: 600;
}

#profile .fas
{
    width: 15px;
}

.info 
{
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    width: 120px;
}

/* Media query for mobile devices */
@media (max-width: 767px) 
{
    .skills-section h1,
    .skills-section #profile 
    {
        text-align: center;
    }
}
