.filter-bar 
{
    text-align: center;
    margin-bottom: 2rem;
}

.filter-bar .btn 
{
    margin: 0.2rem;
    color: #fff;
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.filter-bar .btn:hover
 {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    color: fff;
}

.filter-bar .btn.active
 {
    background-color: var(--primaryColor);
    border-color:var(--primaryColor);
    color: #fff;
}

.filter-bar .btn:focus 
{
    box-shadow: none;
}