:root 
{
    --primaryColor: #dd9933; 
    --secondaryColor: #1b2021; 
    --backgroundColor: #1b2021; 
    --textColor: #eff6e0; 
    --titleColor: #eff6e0;
    --accentColor: #e83f6f;
    --navbarTextColor: #eff6e0;
    --navbarBgColor: #0c0e0f8d;
    --cardBackground: #1a1a1a7e; 
}